<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/cbb3d43b-12a9-4cd7-8c1a-ee68e65861d2/resourcegroups/FPPlatform/providers/Microsoft.Web/sites/flatplanet-api</ResourceId>
    <ResourceGroup>FPPlatform</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://flatplanet-api-freffxekdvb6hybs.southeastasia-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>5b67e811-7780-4df9-6d08-75851db5ba6f</ProjectGuid>
    <PublishUrl>https://flatplanet-api-freffxekdvb6hybs.scm.southeastasia-01.azurewebsites.net/</PublishUrl>
    <UserName>$flatplanet-api</UserName>
    <_SavePWD>false</_SavePWD>
  </PropertyGroup>
</Project>